
header {
	height: 39px;
	position: fixed;
	width: 100%;
	top: 0;
	border-bottom: 1px solid #333;
	background-color: #eee;
	z-index:100000;
	opacity:0.9;
	padding: 2px 0 1px 0;

	button {
	  margin-bottom: 0;
	}

	.message {
      padding-top: 8px;
	}

	.actions {

	}
}

#content {
  margin: 40px 0 0 0;
  height: auto;
  padding: 0;
}